
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..900&display=swap');




@import "tailwindcss";

:root {
  --main-color: #333;
}

body {
  font-family: "Roboto Flex", sans-serif !important;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

p {
  font-family: "Geist", sans-serif !important;
}

